Short dates support

``` toml
date4 = 1979-05-27T07:32:00
date5 = 1979-05-27T00:32:00.999999
date6  = 1979-05-27
```

should all be supported.


I would like to work on this issue. Would it be okay to just extend `token.go` and `parser.go`?

Yes! It probably involves refining the [`dateRegexp` in `lexer.go`](https://github.com/pelletier/go-toml/blob/master/lexer.go#L635) and improve the [`tokenDate` case of `parseRvalue` in `parser.go`](https://github.com/pelletier/go-toml/blob/master/parser.go#L257-L262).

Thanks. The changes for the lexer and parser are done. However, these "short" dates/times are defined as "local" dates/times.
https://github.com/toml-lang/toml#local-date-time

And it doesn't nicely match with Go's Time, which is more likely DateTime.
https://golang.org/pkg/time/#Time

Does it make sense to have an additional dependency to express them? Apparently there are multiple Date types, which is not great for interoperability though.
https://github.com/golang/go/issues/21365

I'm not sure I follow. What's the issue with short dates resulting in `Time` objects with tz set to local?

In the spec, short dates (Local Date-Time and Local Date) are defined as "without any relation to an offset or timezone".

Parsing them as Time objects is possible. But doesn't it break round-trip?

Ha right, I tripped up at "are defined as "local" dates/times".

It's a tough one. Time objects would indeed break round-trip. TOML defines those date/time as civil time, so I think we should do the same. My only hesitation is, as you pointed out, there is not a single, or at least very common library to work with those.

The option that makes more sense to me is using [go/civil](https://godoc.org/cloud.google.com/go/civil). It does not import other dependency, seems easy to use, and makes it trivial for the user to convert to whatever type he fancies.

The TOML 0.5.0 spec has now extended that definition.

https://github.com/toml-lang/toml/blob/master/versions/en/toml-v0.5.0.md#user-content-offset-date-time

---

Offset Date-Time
---------------

To unambiguously represent a specific instant in time, you may use an
[RFC 3339](http://tools.ietf.org/html/rfc3339) formatted date-time with offset.

```toml
odt1 = 1979-05-27T07:32:00Z
odt2 = 1979-05-27T00:32:00-07:00
odt3 = 1979-05-27T00:32:00.999999-07:00
```

For the sake of readability, you may replace the T delimiter between date and
time with a space (as permitted by RFC 3339 section 5.6).

```toml
odt4 = 1979-05-27 07:32:00Z
```

The precision of fractional seconds is implementation specific, but at least
millisecond precision is expected. If the value contains greater precision than
the implementation can support, the additional precision must be truncated, not
rounded.

Local Date-Time
--------------

If you omit the offset from an [RFC 3339](http://tools.ietf.org/html/rfc3339)
formatted date-time, it will represent the given date-time without any relation
to an offset or timezone. It cannot be converted to an instant in time without
additional information. Conversion to an instant, if required, is implementation
specific.

```toml
ldt1 = 1979-05-27T07:32:00
ldt2 = 1979-05-27T00:32:00.999999
```

The precision of fractional seconds is implementation specific, but at least
millisecond precision is expected. If the value contains greater precision than
the implementation can support, the additional precision must be truncated, not
rounded.

Local Date
----------

If you include only the date portion of an
[RFC 3339](http://tools.ietf.org/html/rfc3339) formatted date-time, it will
represent that entire day without any relation to an offset or timezone.

```toml
ld1 = 1979-05-27
```

Local Time
----------

If you include only the time portion of an [RFC
3339](http://tools.ietf.org/html/rfc3339) formatted date-time, it will represent
that time of day without any relation to a specific day or any offset or
timezone.

```toml
lt1 = 07:32:00
lt2 = 00:32:00.999999
```

The precision of fractional seconds is implementation specific, but at least
millisecond precision is expected. If the value contains greater precision than
the implementation can support, the additional precision must be truncated, not
rounded.

* https://github.com/pelletier/go-toml/pull/298
* https://github.com/pelletier/go-toml/pull/318
* https://github.com/pelletier/go-toml/pull/317

Those PRs should fully implement this spec. If anything else is missing please file a bug!